body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.tttCell {
    height: 80px;
    width: 80px;
    border-style: dashed;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-bottom: 5px;
}

.board {
    width: 300px;
    height: 300px;
}

.boardbox {
    display: flex;
    justify-content: center;
}
